body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  width: 100vw;
  font-family: "Robot", sans-serif;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.search {
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 100px;
  background: rgba(31, 41, 55, 0.6);
  padding: 9px 128px 12px 49px;
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profesion {
  opacity: 0.6;
}
.hero_text img {
  margin-bottom: 69px;
  justify-content: center;
}

.hero_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 69px 365px 0px 367px;
  text-align: justify;
}

.time {
  margin-top: 69px;
  margin-bottom: 14px;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 400;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.text + p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

footer {
  opacity: 0.6;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 103px;
}
